.ui.grid,.ui.vertical.pointing.menu ,.ui.bottom.attached.tab.segment.active,.ui.active.tab.segment ,.ui.form{
    background-color: #FFC1C1;
}
div#diskwin,#modalwin,#setuphost{
    background-color: #FFC1C1;
}
.ui.menu{
    background-color: #F38B8B;
}
div#modalbottom {
    background-color: #F38B8B;
}
a.item.active {
    background-color: white !important;
}
.ui.vertical.pointing.menu .active.item:after {
    background-color: white;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color:white;
}
body#page {
    background-color: #FFC9C9 !important;
}
.left-column {
  float: left;
  width: 20%;
}
.ui.vertical.menu {
  width: 100%;
}
th, td { white-space: nowrap; }
.right-column {
  float: left;
  width: 80%;
}
span.barnum {
  position: absolute;
  top: 0px;
  right: 0px;
}

.table_container {
  height: 300px;
  border-bottom: 2px solid;
}
.ui.small.orange.progress{
  margin-top: 0px;
  margin-bottom: 0px;
}
div.dataTables_wrapper {
  width: 100%;
  /* margin: 0 auto; */
  /*z-index: -1;*/
  clear: none;
}
.fourteen.wide.column {
  border-left: 1px solid;
  height:100%;
 }
.three.wide.column.left-panel {
  padding-top: 0px;
  padding-left: 1px;
}

.thirteen.wide.column.right-panel {
  border: none;
}
#modalwin .fields {
  height: 44px;
}
#modalwin .six.wide.column.right-panel {
  background-color: #dddddd;
  /* height: 100%; */
}
#modalwin .wide.field.name {
  font-size: 15px;
  padding-top: 6px;
  font-weight: bold;
}
.eight.wide.field.name {
  font-weight: bold;
  font-size: 15px;
}

.seven.wide.field.name {
  font-size: 14px;
}
.ui.grid.bottom {
  border-top: 2px solid;
  margin-top: 5px;
}
.table_container .ui.basic.button {
  outline: none;
  border: none;
  box-shadow: none;
}
div#modalwin {
   padding: 1em 1em 0em 1em;
}
div#modalbottom, div#warnmodal {
  padding: 1em 0em 1em 0em;
}
#modalwin .ui.checkbox {
  padding-right: 10px;
}
.pick.fields {
  padding-top: 10px;
  border-top: 1px solid;
}

.table_container .ui.button{
	padding-left: 2px;
	padding-right: 2px;
	/*float: left;*/
}
.ui.active.progress .bar{
	min-width: 0px;
}
i.server.list.icon {
  transform: rotate(180deg);
}
.warn.ui.modal {
  width: 400px;
  margin-left: -200px;
  /* margin: auto; */
  /* height: 500px; */
}

.mgnet.ui .content {
  height: 300px;
  padding: 0 0 1em 0;
}
.importnet i.arrow.icon {
  margin-top: 50px;
}
#setup{
  text-align: center;
}
.host_field{
  font-size: :16px;
  font-weight: bold;
}
#interface,#newwork{
  line-height: 3;
  background-color: #dddddd;
}
.dragarea {
  line-height: 3;
}
.rightgroup{
  float: right;
}
.leftgroup{
  float: left;
}
.tips {
  width: 100%;
  background-color: #dddddd;
  line-height: 2;
  padding-left: 10px;
}

.setuphost .content{
  height: :300px;
}

#require {
  text-align: center;
  height: 90%;
  border-left: 2px solid;
}
#require .button{
  width: 100%;
  margin: 5px 0px 5px 0px;
}
#setup{
  height: 300px;
}
#setup .host_field {
  text-align: center;
}
.config {
  border-top: 1px solid;
}

.disktype.inline.field {
  line-height: 2;
  padding-left: 10px;
  background-color: #dddddd;
}
.auth{
  padding-left: 30px;
}
#diskwin {
  height: 360px;
}
#diskwin .fields {
  margin-bottom: 5px;
}
#diskwin .field.name{
  font-size: 15px;
  font-weight: bold;
}

.highlight.fields {
  background-color: #dddddd;
  padding-top: 3px;
}