.ui.grid,.ui.vertical.pointing.menu,.ui.bottom.attached.tab.segment.active,.ui.active.tab.segment,.ui.form{
    background-color: #FFC1C1;
}
div#newmodal,div#modalwin,div#isomodal{
    background-color: #FFC1C1;
}
.ui.menu{
    background-color: #F38B8B !important;
}
div#modalbottom {
    background-color: #F38B8B;
}